attrs
black
certifi
charset-normalizer
click
flake8
idna
iniconfig
mccabe
mypy-extensions
packaging
pathspec
platformdirs
pluggy
py
pycodestyle
pyflakes
pymongo
pyparsing
pytest
regex
requests
toml
tomli
typing-extensions
urllib3
